<div fxLayout="row">
  <div fxFlex="30">
    <div fxLayout="row">
      <div fxFlex="40"></div>
      <div fxFlex="50">
        <div fxLayout="column" fxLayoutGap="10px">
          <div fxFlex="5"></div>
          <div fxFlex="5"></div>
          <div fxFlex="5" class="bg-color">
            <div fxLayout="row" >
              <div fxFlex="5"></div>
              <div fxFlex="10" fxLayoutAlign="end center" >
                <!-- <img src="../../assets/images/3.jpg" height="25px" width="25px" class="round-img"> -->
                <mat-icon class="md-24" class="icon-color" class="icon-color" >home</mat-icon>
              </div>
              <div fxFlex="5"></div>
              <div fxFlex="50" class="side-text" fxLayoutAlign="start center">Feed</div>
            </div>
          </div>
          <div fxFlex="5" class="bg-color">
            <div fxLayout="row">
                <div fxFlex="5"></div>
              <div fxFlex="10" fxLayoutAlign="end center">
                <img src="../../assets/images/topics/history.png" height="25px" width="25px" class="round-img">
              </div>
              <div fxFlex="5"></div>
              <div fxFlex="50" class="side-text" fxLayoutAlign="start center">Publishing</div>
            </div>
          </div>

          <div fxFlex="5" class="bg-color">
            <div fxLayout="row">
                <div fxFlex="5"></div>
              <div fxFlex="10" fxLayoutAlign="end center">
                <img src="../../assets/images/3.jpg" height="25px" width="25px" class="round-img">
              </div>
              <div fxFlex="5"></div>
              <div fxFlex="50" class="side-text" fxLayoutAlign="start center">Invention and Inventories</div>
            </div>
          </div>
          <div fxFlex="5" class="bg-color">
            <div fxLayout="row">
                <div fxFlex="5"></div>
              <div fxFlex="10" fxLayoutAlign="end center">
                <img src="../../assets/images/topics/earth.png" height="25px" width="25px" class="round-img">
              </div>
              <div fxFlex="5"></div>
              <div fxFlex="50" class="side-text" fxLayoutAlign="start center">Science Fiction (genere)</div>
            </div>
          </div>
          <div fxFlex="5" class="bg-color">
            <div fxLayout="row">
                <div fxFlex="5"></div>
              <div fxFlex="10" fxLayoutAlign="end center">
                <img src="../../assets/images/topics/earth.png" height="25px" width="25px" class="round-img">
              </div>
              <div fxFlex="5"></div>
              <div fxFlex="50" class="side-text" fxLayoutAlign="start center">Science of everyday life</div>
            </div>
          </div>
          <div fxFlex="5" class="bg-color">
            <div fxLayout="row">
                <div fxFlex="5"></div>
              <div fxFlex="10" fxLayoutAlign="end center">
                <img src="../../assets/images/bookmark.png" height="25px" width="25px" class="round-img">
              </div>
              <div fxFlex="5"></div>
              <div fxFlex="50" class="side-text" fxLayoutAlign="start center">Bookmark</div>
            </div>
          </div>
          <div fxFlex="5" class="bg-color">
            <div fxLayout="row">
                <div fxFlex="5"></div>
              <div fxFlex="10" fxLayoutAlign="end center">
                <img src="../../assets/images/link.png" height="25px" width="25px" class="round-img">
              </div>
              <div fxFlex="5"></div>
              <div fxFlex="50" class="side-text" fxLayoutAlign="start center">Links</div>
            </div>
          </div>
          <div fxFlex="5" class="bg-color">
            <div fxLayout="row">
                <div fxFlex="5"></div>
              <div fxFlex="10" fxLayoutAlign="end center">
                <img src="../../assets/images/topics/economy.png" height="25px" width="25px" class="round-img">
              </div>
              <div fxFlex="5"></div>
              <div fxFlex="50" class="side-text" fxLayoutAlign="start center">PDF file format</div>
            </div>
          </div>
          <div fxFlex="5" class="bg-color">
            <div fxLayout="row">
                <div fxFlex="5"></div>
              <div fxFlex="10" fxLayoutAlign="end center">
                <img src="../../assets/images/topics/education.png" height="25px" width="25px" class="round-img">
              </div>
              <div fxFlex="5"></div>
              <div fxFlex="50" class="side-text" fxLayoutAlign="start center">Fine Art</div>
            </div>
          </div>
          <div fxFlex="5" class="bg-color">
            <div fxLayout="row">
                <div fxFlex="5"></div>
              <div fxFlex="10" fxLayoutAlign="end center">
                <img src="../../assets/images/topics/geography.png" height="25px" width="25px" class="round-img">
              </div>
              <div fxFlex="5"></div>
              <div fxFlex="50" class="side-text" fxLayoutAlign="start center">Journalism</div>
            </div>
          </div>
          <div fxFlex="5" class="bg-color">
            <div fxLayout="row">
                <div fxFlex="5"></div>
              <div fxFlex="10" fxLayoutAlign="end center">
                <img src="../../assets/images/topics/countries.png" height="25px" width="25px" class="round-img">
              </div>
              <div fxFlex="5"></div>
              <div fxFlex="50" class="side-text" fxLayoutAlign="start center">Reaserch</div>
            </div>
          </div>
          <div fxFlex="5" class="bg-color">
            <div fxLayout="row">
                <div fxFlex="5"></div>
              <div fxFlex="10" fxLayoutAlign="end center">
                <img src="../../assets/images/topics/sports.png" height="25px" width="25px" class="round-img">
              </div>
              <div fxFlex="5"></div>
              <div fxFlex="50" class="side-text" fxLayoutAlign="start center">Physiology</div>
            </div>
          </div>
          <div fxFlex="5" class="bg-color">
            <div fxLayout="row">
                <div fxFlex="5"></div>
              <div fxFlex="10" fxLayoutAlign="end center">
                <img src="../../assets/images/topics/south america.png" height="25px" width="25px" class="round-img">
              </div>
              <div fxFlex="5"></div>
              <div fxFlex="50" class="side-text" fxLayoutAlign="start center">Technology</div>
            </div>
          </div>
          <div fxFlex="5" class="bg-color">
            <div fxLayout="row">
                <div fxFlex="5"></div>
              <div fxFlex="10" fxLayoutAlign="end center">
                <img src="../../assets/images/topics/asia.png" height="25px" width="25px" class="round-img">
              </div>
              <div fxFlex="5"></div>
              <div fxFlex="50" class="side-text" fxLayoutAlign="start center">Marketing</div>
            </div>
          </div>
          <div fxFlex="5" class="bg-color">
            <div fxLayout="row">
                <div fxFlex="5"></div>
              <div fxFlex="10" fxLayoutAlign="end center">
                <img src="../../assets/images/topics/europe.png" height="25px" width="25px" class="round-img">
              </div>
              <div fxFlex="5"></div>
              <div fxFlex="50" class="side-text" fxLayoutAlign="start center">Television series</div>
            </div>
          </div>
          <div fxFlex="5" class="bg-color">
              <div fxLayout="row">
                  <div fxFlex="5"></div>
                <div fxFlex="10" fxLayoutAlign="end center">
                  <img src="../../assets/images/topics/earth.png" height="25px" width="25px" class="round-img">
                </div>
                <div fxFlex="5"></div>
                <div fxFlex="50" class="side-text" fxLayoutAlign="start center">Writing</div>
              </div>
            </div>
        </div>
      </div>
    </div>


  </div>
</div>