.round-img{
    border-radius: 50%;
}
.name{
    color: #949494;
    font-size: 13px;
}
.question{
    font-size: 19px;
}
.matcard-size{
    // width:650px;
    width: auto;
}
a{
    text-decoration: none;
}
a:hover{
    color: #2b6dad;
    cursor:pointer;
	cursor:hand;
}
.anchor-colour{
    color: #949494;
}