<div fxLayout="column" fxLayoutGap="150px">

<div fxLayout="row" fxFlex></div>
<div fxlayout="row" fxLayoutAlign="space-around center" fxFlex>
  <!-- <div fxFlex="30"></div> -->
  <div fxFlex="50">

    <mat-card  class="matcard-size">
     
      <div fxLayout="column">
         <div fxFlex="10"></div>
         <div fxFlex="10">
           <div fxLayout="row" >
             <div fxFlex="10">
                <img src="../../assets/images/3.jpg" height="30px" width="30px" class="round-img">
             </div>
             <!-- <div fxFlex="10"></div> -->
             <div flex class="name">Tanaya Patil</div>
           </div>
         </div>
         <div fxFlex="10" (click)="openDialog()">
           <div fxLayout="row">
             <div flex class="question">
               <a class="anchor-colour" >
               <b>What is your question?</b>
              </a>
              </div>
           </div>
         </div>
      </div>

    </mat-card>

  </div>
  <!-- <div fxFlex="30"></div> -->
  
  
</div>
</div>