<div fxLayout="row">
  <div fxFlex="80">
    <!-- leftcontent -->
  </div>

  <div fxFlex="20">

    <!-- <div fxLayout="column" fxLayoutGap="10px">
      <div fxFlex="1"></div>
      <div fxFlex="1"></div>
      <div fxFlex="10" class="bottom-border">Related topics</div>
      <div fxFlex></div>
    </div> -->
    <div fxLayout="row">
      <div fxFlex="60">
        <div fxLayout="column" fxLayoutGap="10px">
          <div fxFlex="1"></div>
          <div fxFlex="1"></div>
          <div fxFlex="10" class=" related-topic"><b>Related Topics</b></div>
          <div fxFlex="1" class="bottom-border"></div>
          <div fxFlex>
            <div fxLayout="column" fxLayoutGap="10px">
              <div fxFlex="5">
                <div fxLayout="row" fxLayoutGap="20px">
                  <div fxFlex="10">
                    <img src="../../assets/images/ebooks.jpeg" height="25px" width="25px">
                  </div>
                  <div fxFlex="80">
                    <div fxLayout="column">
                      <div fxFlex="10" class="side-text"  on-mouseover="openDialog()"><b>eBooks</b></div>
                      <div fxFlex="10" class="followers">2m Followers</div>
                    </div>
                  </div>
                </div>
              </div>
              <div fxFlex="5">
                <div fxLayout="row" fxLayoutGap="20px">
                  <div fxFlex="10">
                    <img src="../../assets/images/download.jpeg" height="25px" width="25px">
                  </div>
                  <div fxFlex="80">
                    <div fxLayout="column">
                      <div fxFlex="10" class="side-text" ><b>Downloading Books</b></div>
                      <div fxFlex="10" class="followers">433.2k Followers</div>
                    </div>
                  </div>
                </div>
              </div>
              <div fxFlex="5">
                <div fxLayout="row" fxLayoutGap="20px">
                  <div fxFlex="10">
                    <img src="../../assets/images/pdf.jpeg" height="25px" width="25px">
                  </div>
                  <div fxFlex="90">
                    <div fxLayout="column">
                      <div fxFlex="10" class="side-text"><b>PDF Readers</b></div>
                      <div fxFlex="10" class="followers">164.5k Followers</div>
                    </div>
                  </div>
                </div>
              </div>
              <div fxFlex="5">
                <div fxLayout="row" fxLayoutGap="20px">
                  <div fxFlex="10">
                    <img src="../../assets/images/file.jpeg" height="25px" width="25px">
                  </div>
                  <div fxFlex="90">
                    <div fxLayout="column">
                      <div fxFlex="10" class="side-text"><b>File Conversions</b></div>
                      <div fxFlex="10" class="followers">132.4k Followers</div>
                    </div>
                  </div>
                </div>
              </div>
              <div fxFlex="5">
                <div fxLayout="row" fxLayoutGap="20px">
                  <div fxFlex="10">
                    <img src="../../assets/images/pdfconverter.jpeg" height="25px" width="25px">
                  </div>
                  <div fxFlex="90">
                    <div fxLayout="column">
                      <div fxFlex="10" class="side-text"><b>PDF Conveter</b></div>
                      <div fxFlex="10" class="followers">65.3k Followers</div>
                    </div>
                  </div>
                </div>
              </div>
              <div fxFlex="5">
                <div fxLayout="row" fxLayoutGap="20px">
                  <div fxFlex="10">
                    <img src="../../assets/images/download.jpeg" height="25px" width="25px">
                  </div>
                  <div fxFlex="90">
                    <div fxLayout="column">
                      <div fxFlex="10" class="side-text"><b>Downloading</b></div>
                      <div fxFlex="10" class="followers">1.1m Followers</div>
                    </div>
                  </div>
                </div>
              </div>
              <div fxFlex="5">
                <div fxLayout="row" fxLayoutGap="20px">
                  <div fxFlex="10">
                    <img src="../../assets/images/freeproducts.jpeg" height="25px" width="25px">
                  </div>
                  <div fxFlex="90">
                    <div fxLayout="column">
                      <div fxFlex="10" class="side-text"><b>Free Products</b></div>
                      <div fxFlex="10" class="followers">630.8k Followers</div>
                    </div>
                  </div>
                </div>
              </div>
              <div fxFlex="5">
                <div fxLayout="row" fxLayoutGap="20px">
                  <div fxFlex="10">
                    <img src="../../assets/images/seeking.jpeg" height="25px" width="25px">
                  </div>
                  <div fxFlex="90">
                    <div fxLayout="column">
                      <div fxFlex="10" class="side-text"><b>Seeking Specific PDFs</b></div>
                      <div fxFlex="10" class="followers">74 Followers</div>
                    </div>
                  </div>
                </div>
              </div>
              <div fxFlex="5">
                  <div fxLayout="row" fxLayoutGap="20px">
                    <div fxFlex="10">
                      <img src="../../assets/images/freeebook.jpeg" height="25px" width="25px">
                    </div>
                    <div fxFlex="90">
                      <div fxLayout="column">
                        <div fxFlex="10" class="side-text"><b>Free Ebooks</b></div>
                        <div fxFlex="10" class="followers">364.7k Followers</div>
                      </div>
                    </div>
                  </div>
                </div>

              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>