.bottom-border{
    border-bottom: 1px solid #949494;
}
.related-topic{
    font-size:14px;
}
.side-text{
    // color: #949494;
    color: #2b6dad;
    font-size: 14px;
    font-family: 'q_serif',Georgia,Times,"Times New Roman","Hiragino Kaku Gothic Pro","Meiryo",serif;
    
}
.side-text:hover{
    // color: #2b6dad;
    cursor:pointer;
	cursor:hand;
}
.left-text{
    color: #2b6dad;
}
.followers{
    font-size: 11px;
    color:  #949494;
}