.showFollowers{
    font-size: 16px;
}
.icon-colour{
    color: #949494;
}
.text{
    color:  #949494;
   
    font-size: 13px;
}
.background-color{
    // background-color:rgba(27, 2, 2, 0.062);
    background-color:rgba(27, 2, 2, 0.048);
    border: 1px solid #949494;
    border-radius: 10px;
}
a:hover{
    color: #2b6dad;
    cursor:pointer;
    cursor:hand;
}
.background-color:hover{
    border: 1px solid  #2b6dad;
}
.top-border{
    border-top: 1px solid #949494;
}
.menu-heading{
    color: #333!important;
}