<div fxLayout="row" layout-wrap fxLayoutAlign="center center" class="background-imge">
  <mat-card class="matcard-size">
      <div fxLayout="column" fxLayoutGap="25px">
          <div fxFlex="10"></div>
  
          <div fxFlex="20" fxLayout="row" fxLayoutAlign="center center">
            <img src="../../assets/images/quora.png" width="224px" height="63px">
          </div>
          <div fxFlex="10" fxLayout="row" fxLayoutAlign="center center" class="tagline">
            A place to share knowledge and better understand the world.
          </div>
          <!-- <router-outlet></router-outlet> -->
          </div>
    
  </mat-card>

</div>
