<div fxLayout="column" fxLayoutGap="25px">
  <div fxFlex="10"></div>
  <div fxFlex="20" fxLayout="row" fxLayoutAlign="center center">
    <img src="../../assets/images/quora.png" width="224px" height="63px">
  </div>
  <div fxFlex="10" fxLayout="row" fxLayoutAlign="center center" class="tagline">
    A place to share knowledge and better understand the world.
  </div>
  <div fxFlex="10"></div>
  <div fxFlex="40">
    <div fxLayout="row">
      <div fxFlex="5"></div>
      <div fxFlex="40">
        <div fxLayout="column" fxLayoutGap="10px">
          <div fxFlex="10" class="sign-up"><b>Sign-up</b></div>
          <div fxFlex="10">
            <!-- <div fxLayout="row">
              <div fxFlex="40">
                <div fxLayout="column" fxLayoutGap="10px">
                  <div fxFlex="10" class="label"><b>FIRST NAME </b></div>
                  <div fxFlex="10">
                    <mat-form-field appearance="outline">
                      <mat-label>First Name</mat-label>
                      <input matInput placeholder="Placeholder">
                    </mat-form-field>
                  </div>
                </div>
              </div>
              <div fxFlex="40">2</div>
            </div> -->
            <div fxLayout="row">
                <mat-form-field appearance="outline">
                    <mat-label>First Name</mat-label>
                    <input matInput placeholder="Placeholder">
                  </mat-form-field>
            </div>
            <div fxLayout="row">
                <mat-form-field appearance="outline">
                    <mat-label>Last Name</mat-label>
                    <input matInput placeholder="Placeholder">
                  </mat-form-field>
            </div>
            <div fxLayout="row">
                <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput placeholder="Placeholder">
                  </mat-form-field>
            </div>
            <div fxLayout="row">
                <mat-form-field appearance="outline">
                    <mat-label>Password</mat-label>
                    <input matInput placeholder="Placeholder">
                  </mat-form-field>
            </div>


          </div>
        </div>
      </div>
    </div>
  </div>
</div>