
.background-imge{
    background-image: url('/assets/images/landing-bg.png');
    height: 100%;
    width: 100%;
    background-size: cover;
    position:fixed;

}

.tagline{
    font-size: 21px;
    font-weight: 400;
    color: #949494;
    font-family: Georgia,Times,"Times New Roman","Hiragino Kaku Gothic Pro","Meiryo",serif;
}
.sign-up{
    font-size:13px;
}
.label{
    font-size:10px;
    color: #666;
}
.cancelBtn{
    background: red;
    color: white;
}
.alert-danger {
    color: red;
    font-size: 13px;
}
.text-color{
    color: #949494;
    font-size:13px;
    
}
.anchor-color{
    color: #2b6dad;
}