.background-img{
    background-image: url('/assets/landing-bg.png');
    height: 100%;
    width: 100%;
    position:fixed;
}
.matcard-size{
    height: 630px;
    width: 800px;
}

.tagline{
    font-size: 25px;
    font-weight: 400;
    color: #949494;
    font-family: Georgia,Times,"Times New Roman","Hiragino Kaku Gothic Pro","Meiryo",serif;
}