<div fxLayout="row" fxLayoutAlign="center center" class="background-img">
  <div flex>
    <mat-card class="matcard-size">
      <div fxLayout="column" fxLayoutGap="30px">
        <div fxFlex="10"></div>

        <div fxFlex="20" fxLayout="row" fxLayoutAlign="center center">
          <img src="../../assets/images/quora.png" width="224px" height="82px">
        </div>
        <div fxFlex="10" fxLayout="row" fxLayoutAlign="center center" class="tagline">
          A place to share knowledge and better understand the world.
        </div>

        <div fxFlex="10"></div>

        <div fxFlex="40">
          <div fxLayout="row">
            <div fxFlex="10"></div>
            <div fxFlex="40">
              <div fxLayout="column" fxLayoutGap="10px">
                <div fxFlex="10">
                  <button mat-flat-button color="primary">Primary</button>
                </div>
                <div fxFlex="10">google</div>
              </div>
            </div>

            <div fxFlex="40">2</div>
          </div>

        </div>

      </div>
    </mat-card>
  </div>
</div>