.icon-color{
    color: #949494;
}
.text-color{
    color: #949494;
    font-size:14px;
}
.round-img{
    border-radius: 50%;
}
.text-color:hover{
    color: #b92b27;
}
.icon-color:hover{
    color: #b92b27;
}