<div fxLayout="row">
  <div fxFlex>
    <mat-card style="width:auto; height: 40%;">
      <div fxLayout="column">
        <!-- <div fxFlex="5"></div> -->
        <div fxFlex>
          <div fxLayout="row">
            <div fxFlex="10"></div>
            <div fxFlex>
              <div fxLayout="row" fxLayoutGap="2px">
                <div fxFlex="10">
                  <img src="../../assets/images/quora.png" width="80px" height="23px">
                </div>
                <div fxFlex="10">
                  <div fxLayout="row" fxLayoutGap="30px">
                    <div fxFlex="10">
                      <mat-icon class="md-24" class="icon-color">home</mat-icon>
                    </div>
                    <div fxFlex="10" fxLayoutAlign="center center" class="text-color">Home</div>
                  </div>
                </div>
                <div fxFlex="10">
                  <div fxLayout="row" fxLayoutGap="30px">
                    <div fxFlex="10">
                      <mat-icon class="md-24" class="icon-color">create</mat-icon>
                    </div>
                    <div fxFlex="10" fxLayoutAlign="center center" class="text-color">Answer</div>
                  </div>
                </div>
                <div fxFlex="10">
                  <div fxLayout="row" fxLayoutGap="30px">
                    <div fxFlex="10">
                      <mat-icon class="md-24" class="icon-color">notifications</mat-icon>
                    </div>
                    <div fxFlex="50" fxLayoutAlign="center center" class="text-color">Notifications</div>
                  </div>
                </div>
                <div fxFlex="1"></div>
                <div fxFlex="40">
                  <mat-form-field appearance="outline" [ngStyle]="{'font-size.px': 10,'width':100+ '%'}">
                    <mat-label>Search Quora</mat-label>
                    <input matInput placeholder="Search Quora">
                    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                  </mat-form-field>
                </div>
                <div fxFlex="1"></div>
                <div fxFlex="5" >
                    <img src="../../assets/images/3.jpg" height="40px" width="40px" class="round-img">
                </div>
                <div fxFlex>
                    <button mat-raised-button color="primary">Add Question</button>
                </div>
              </div>
            </div>
            <div fxFlex="10"></div>

          </div>
        </div>
        <!-- <div fxFlex="5"></div> -->
      </div>
    </mat-card>
  </div>
</div>