.image-border{
    border: 1px solid #949494;
}
.ebook{
    font-size: 25px;
}
.bottom-border{
    border-bottom: 1px solid #949494;
}
.footer-text{
    font-size:15px;
    color:  #949494;
}
.icon-color{
    color:  #2b6dad;
}