<mat-card>
  <div fxLayout="column" fxLayoutGap="25px">
    <div fxFlex="20" fxLayout="row" fxLayoutAlign="center center">
      <img src="../../assets/images/quora.png" width="224px" height="63px">
    </div>
    <div fxFlex="10" fxLayout="row" fxLayoutAlign="center center" class="tagline">
      A place to share knowledge and better understand the world.
    </div>

    <div fxFlex="60">
      <mat-horizontal-stepper [linear]="true" #stepper>
        <mat-step [stepControl]="firstName">
          <form [formGroup]="firstName">
            <ng-template matStepLabel>Fill out your first name</ng-template>
            <mat-form-field>
              <input matInput type="text" placeholder="First name" formControlName="firstName" required>
            </mat-form-field>
            <div>
              <button mat-button matStepperNext>Next</button>
            </div>
          </form>
        </mat-step>
        <mat-step [stepControl]="lastName">
          <form [formGroup]="lastName">
            <ng-template matStepLabel>Last Name</ng-template>
            <mat-form-field>
              <input matInput type="text" placeholder="Last Name" formControlName="lastName" required>
            </mat-form-field>
            <div>
              <button mat-button matStepperPrevious>Back</button>
              <button mat-button matStepperNext>Next</button>
            </div>
          </form>
        </mat-step>
        <mat-step [stepControl]="email">
          <form [formGroup]="email">
            <ng-template matStepLabel>Email</ng-template>
            <mat-form-field>
              <input matInput type="email" placeholder="Email" formControlName="email" required>
            </mat-form-field>
            <div *ngIf="email.controls['email'].touched && !email.controls['email'].valid" class="alert alert-danger">
              <div *ngIf="email.controls['email'].hasError('required') ">
                Email is required.
              </div>
              <div *ngIf="email.controls['email'].hasError('email') ">
                Invalid email.
              </div>
            </div>
            <div>
              <button mat-button matStepperPrevious>Back</button>
              <button mat-button matStepperNext>Next</button>
            </div>
          </form>
        </mat-step>
        <mat-step [stepControl]="password">
          <form [formGroup]="password">
            <ng-template matStepLabel>Password</ng-template>
            <mat-form-field>
              <input matInput type="password" placeholder="Password" formControlName="password" required>
            </mat-form-field>
            <div *ngIf="password.controls['password'].touched && !password.controls['password'].valid" class="alert alert-danger">
              <div *ngIf="password.controls['password'].hasError('required') ">
                Password is required.</div>
              <div *ngIf="password.controls['password'].hasError('minlength') ">
                Password should contains at least 8 charactors
              </div>
              <div *ngIf="password.controls['password'].hasError('pattern') ">
                Password contains atleast 1 capital,1 small letter and number
              </div>
            </div>
            <div>
              <button mat-button matStepperPrevious>Back</button>
              <button mat-button matStepperNext>Next</button>
            </div>
          </form>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Submit</ng-template>
          <div fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="space-around center">
            <div fxFlex="80" class="text-color">
              By clicking "Sign Up" you
              indicate that you have read and
              agree to Quora's <a class="anchor-color" href="https://www.quora.com/about/tos">
                Terms of Service
              </a> and
              <a class="anchor-color" href="https://www.quora.com/about/tos">
                Privacy Policy.
              </a>
            </div>
            <div fxFlex="20" fxLayoutAlign="center center">
              <button mat-button matStepperPrevious>Back</button>
              <button mat-raised-button color="primary" (click)="registerUser()">Sign Up</button>
            </div>
          </div>
        </mat-step>
      </mat-horizontal-stepper>
    </div>
    <div fxFlex="10" fxLayout="row" fxLayoutAlign="end center">
      <button mat-raised-button class="cancelBtn" (click)="onCancelClick()">Cancel</button>
    </div>
  </div>
</mat-card>