<div fxLayout="row" fxLayoutAlign="space-around center">
  <div fxFlex="30"></div>
  <div flex>

    <mat-card class="mat-height">
      <div fxLayout="column" fxLayoutGap="10px">
        <div fxFlex="10"></div>

        <div fxFlex="20">
          <div fxLayout="column" fxLayoutGap="5px">

            <div fxFlex="10">
              <div fxLayout="row">
                <div fxFlex="5"></div>
                <div fxFlex="85" class="shared-ans">Shared Answer.Quora</div>
                <div fxFlex="10">
                  <mat-icon class="md-24" matTooltip="Hide this story">close</mat-icon>
                </div>
              </div>
            </div>

            <div fxFlex="10">
              <div fxLayout="row">
                <div fxFlex="5"></div>
                <div fxFlex="85">
                  <b class="heading"> Did "black panther"deserve to be nominated for an Oscar?</b>
                </div>
              </div>
            </div>
            <div fxFlex="10"></div>

            <div fxFlex="10">
              <div fxLayout="row">
                <div fxFlex="5"></div>
                <div fxFlex="10">
                  <img src="../../assets/images/3.jpg" height="40px" width="40px" class="round-img">
                </div>
                <div fxFlex="75">
                  <div class="user-color">Ravi Bandoni</div>
                  <div class="shared-ans">Ans 8 hours ago</div>
                </div>
                <div fxFlex="5">
                  <mat-icon class="md-24">group_add</mat-icon>
                </div>
              </div>
            </div>

            <div fxFlex="10">
              <div fxLayout="row">
                <div fxFlex="5"></div>
                <div fxFlex="85" class="shared-ans">
                  Originally Answered: discovered the Daysleepers this year.
                  They’re an amazing band that makes new music in the vein of
                  old new wave music from the 80s and 90s.
                </div>
              </div>
            </div>
          </div>
        </div>

        <div fxFlex="10"></div>
        <div fxFlex="40">
          <div fxLayout="row">
            <div fxFlex="5"></div>
            <div fxFlex="85" class="user-color">
              I discovered the Daysleepers this year. They’re an amazing band
              that makes new music in the vein of old new wave music from the 80s
              and 90s. If you like the Cure and New Order and Slowdive and stuff like that,
              they’re definitely for you.
              But, probably the best SONG I’ve heard this year is Never Enough from the
              and 90s. If you like the Cure and New Order and Slowdive and stuff like that,
              they’re definitely for you.
              But, probably the best SONG I’ve heard this year is Never Enough from the
            </div>
          </div>
        </div>

        <div fxFlex="10">
          <div fxLayout="column" fxLayoutGap="10px">
            <div fxFlex="10">
              <div fxLayout="row">
                <div fxFlex="5"></div>
                <div fxFlex="85" class="shared-ans">
                  287 Views.<a>View Upvoters</a>
                  <!-- <div fxLayout="row" class="shared-ans">
                    <div fxFlex="15">287 Views</div>
                    <div fxFlex="20">View Upvoters</div>
                  </div> -->
                </div>
              </div>
            </div>
            <div fxFlex="10">
              <div fxLayout="row">
                <div fxFlex="2"></div>
                <div fxFlex="20">
                  <button mat-button>
                    <img src="../../assets/images/up.png" height="20px" width="20px">
                    <span class="upvote">Upvote.30</span>
                  </button>
                </div>
                <div fxFlex="20">
                  <button mat-button>
                    <img src="../../assets/images/downup.png" height="20px" width="20px">
                    <span class="upvote">Downvote.30</span>
                  </button>
                </div>

                <div fxFlex="40"></div>
                <div fxFlex="18">
                  <div fxLayout="row" fxLayoutGap="10px">
                    <div fxFlex="15">
                      <img src="../../assets/images/twit.png" height="20px" width="20px" matTooltip="Share on Twitter">
                    </div>
                    <div fxFlex="15">
                      <img src="../../assets/images/f.png" height="20px" width="20px" matTooltip="Share on Facebook">
                    </div>
                    <div fxFlex="15">
                      <img src="../../assets/images/more.png" height="20px" width="20px" matTooltip="More">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div fxFlex="10">
          <div fxLayout="row" class="comment">
            <div fxFlex="5"></div>
            <div fxflex="95">
              <div fxLayout="column" fxLayoutGap="10px">
                <div fxFlex="10"></div>
                <div fxFlex="10">
                  <div fxLayout="row" fxLayoutGap="25px">
                    <!-- <div fxFlex="1"></div> -->
                    <div fxFlex="10">
                      <img src="../../assets/images/2.jpg" height="40px" width="40px" class="round-img">
                    </div>

                    <div fxFlex="50">
                      <mat-form-field appearance="outline" [ngStyle]="{'font-size.px': 10}">
                        <mat-label>Add comment</mat-label>
                        <input matInput placeholder="Comment">
                        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                      </mat-form-field>
                    </div>

                    <div fxFlex="10">
                      <button mat-raised-button color="primary">Comment</button>
                    </div>
                    <div fxFlex="1"></div>
                    <div fxFlex="40" class="shared-ans">Recommende <a href="#" class="anchor-color">All</a></div>
                  </div>
                </div>
              </div>
              <div fxFlex="10"></div>
            </div>
          </div>
        </div>
      </div>
    </mat-card>

  </div>
 <div fxFlex="30"></div>
</div>