// .mat-height{
//     height: 500px;
//     width: 650px;
   
// }
.shared-ans{
    color: #949494;
    font-size: 13px;
}
.round-img{
    border-radius: 50%;
}
.info-color{
    color: #333;
    // font-family: Poppins,sans-serif;
    // font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-family: 'q_serif',Georgia,Times,"Times New Roman","Hiragino Kaku Gothic Pro","Meiryo",serif;
    font-size:16px;
}
.user-color{
    // font-family: Poppins,sans-serif;
    // font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-family: 'q_serif',Georgia,Times,"Times New Roman","Hiragino Kaku Gothic Pro","Meiryo",serif;
    font-size:15px;
}
.heading{
    font-size: 18px;
}
.ans{
    font-size: 15px;
}
.upvote
{
    font-size: 15px;
    color: #666!important;

}
.comment{
    
    background-color:rgba(27, 2, 2, 0.062);
    // width: 100%;
    // border: 1px solid black;
}
.anchor-color{
    color: #2b6dad;
    text-decoration: none;

}
